<!-- MAIN CONTENT START -->
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption font-green-sharp">
          <a class="btn btn-icon-only btn-default" href="#" ng-click="vdstatus_table.reload()">
            <i class="fa fa-refresh"></i>
          </a>
          <a class="btn btn-primary" href="#" ng-click="openSoftwareSetupModal(checkboxGroup.checkedObjects())" ng-disabled="checkboxGroup.noneChecked()">
            <i class="fa fa-plus-square"></i>{[{ 'vir_desktop.soft_setup' | i18next}]}
          </a>
          <a class="btn btn-danger" href="#" ng-click="openSoftwareRemoveModal(checkboxGroup.checkedObjects())" ng-disabled="checkboxGroup.noneChecked()">
            <i class="fa fa-minus-square"></i>{[{ 'vir_desktop.soft_remove' | i18next}]}
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div id="" class="dataTables_wrapper no-footer">
          <table ng-table="vdstatus_table" class="table table-striped table-bordered table-advance table-hover">
            <tbody>
              <tr ng-repeat="state in status">
                <td width="30" header="'checkbox-header.html'">
                  <input type="checkbox" data-ng-model="state.checked"/>
                </td>
                <td data-title="'user.name' | i18next">
                  <span> {[{ state.user }]} </span>
                </td>
                <td data-title="'instance.status' | i18next">
                  <span ng-if="state.online"> {[{ 'vir_desktop.online' | i18next }]} </span>
                  <span ng-if="!state.online"> {[{ 'vir_desktop.offline' | i18next }]} </span>
                </td>
                <td data-title="'vir_desktop.name' | i18next">
                  <span ng-if="state.vm != null"> {[{ state.vm }]} </span>
                  <span ng-if="state.vm == null"> {[{ 'vir_desktop.null_vm' | i18next }]} </span>
                </td>
                <td data-title="'actions' | i18next">
                  <div class="btn-group">
                    <button class="btn btn-default" type="button" ng-disabled="state.vm == null" ng-click="takeAction(state.user, state.vm, 'disconnect')"> {[{ 'vir_desktop.disconn_desktop' | i18next }]} </button>
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                      <li>
                        <a href="javascript:void(0)" data-ng-click="openSoftwareSetupModal([state])">
                          <i class="fa fa-plus-square"></i> {[{ 'vir_desktop.soft_setup' | i18next }]}
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0)" data-ng-click="openSoftwareRemoveModal([state])">
                          <i class="fa fa-minus-square"></i> {[{ 'vir_desktop.soft_remove' | i18next }]}
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MAIN CONTENT END -->

<!-- BEGIN TEMPLATE CHECKBOXHEADER -->
<script type="text/ng-template" id="checkbox-header.html">
  <input type="checkbox"  data-ng-model="checkboxGroup.checked" data-ng-change="checkboxGroup.toggleAll()"/>
</script>
<!-- END TEMPLATE CHECKBOXHEADER -->

<!-- BEGIN TEMPLATE SOFTWARECONF -->
<script type="text/ng-template" id="softwareconf.html">
  <div class="modal-header">
    <div class="modal-title"> {[{ 'vir_desktop.soft_mgr' | i18next }]}</div>
  </div>
  <div class="modal-body">
    <div class="col-md-4" style="padding-right:0px;">
    </div>
    <div class="col-md-8" style="padding-left:0px;">
    </div>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
      {[{ 'cancel' | i18next }]}
    </a>
    <a class="btn" data-ng-show="is_submitting">
      <img src="/static/assets/global/img/throbber.gif"/>
    </a>
    <a class="btn btn-primary" data-ng-click="commit()" data-ng-hide="is_submitting">
      {[{ 'submit' | i18next }]}
    </a>
  </div>
</script>
<!-- END TEMPLATE SOFTWARECONF -->

<!-- BEGIN TEMPLATE SOFTWAREREMOVE -->
<script type="text/ng-template" id="softwareremove.html">
  <div class="modal-header">
    <div class="modal-title"> {[{ 'vir_desktop.soft_remove' | i18next }]}</div>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" class="btn btn-default" data-ng-click="cancel()">
      {[{ 'cancel' | i18next }]}
    </a>
    <a class="btn" data-ng-show="is_removing">
      <img src="/static/assets/global/img/throbber.gif"/>
    </a>
    <a class="btn btn-danger" data-ng-click="remove()" data-ng-hide="is_removing">
      {[{ 'vir_desktop.remove' | i18next }]}
    </a>
  </div>
</script>
<!-- END TEMPLATE SOFTWAREREMOVE -->

